*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

.design-four-animation {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 10vw;
    background: black;
  }
  
  .design-four-animation img.logo4 {
    height: 50px;
    transition: transform 0.5s;
  }
  
  .design-four-animation img.logo4:hover {
    transform: scale(1.4);
  }
  
  
  .design-four-animation nav.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .design-four-animation nav.navigation a.navigation-content {
    position: relative;
    font-weight: 600;
    font-size: 1.1rem;
    background: white;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px;
    transition: transform 0.5s;
  }
  
  .design-four-animation nav.navigation a.navigation-content:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
  }
  
  .design-four-animation nav.navigation a.navigation-content:active {
    transform: scale(0.8); 
  }
  
  .design-four-animation nav.navigation a.navigation-content::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
  }
  
  .design-four-animation nav.navigation a.navigation-content span{
    position: relative;
  }
  
  .design-four-animation nav.navigation a.navigation-content i{
    position: absolute;
    inset: 0;
    display: block;
  }
  
  .design-four-animation nav.navigation a.navigation-content i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }
  
  .design-four-animation nav.navigation a.navigation-content:hover i::before {
    width: 20px; 
    left: 20%; 
  }
  
  .design-four-animation nav.navigation a.navigation-content i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
  }
  
  .design-four-animation nav.navigation a.navigation-content:hover i::after {
    width: 20px; 
    left: 80%; 
  }

.logo{
    font-family: "Permanent Marker", cursive;
    font-size: 350%;
    font-weight: 700;
    color: white;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #efefed;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 19%;
}

.hero-text {
    background-color: rgba(128, 128, 128, 0.5); 
    padding: 20px; 
    border-radius: 10px;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.hero-text h1{
    font-family: Poppins;
    font-size: 70px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
.hero-text p{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-img img{
    width: 1000px;
    height: auto;
    padding-right: 45%;
}

.design-three {
    width: 100vw;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content p {
    margin: 0;
    padding-left: 36%;
  }
  
  